

* {
  padding: 0;
  margin: 0;
}

div#AboutMe
{
    display: flex;
    font-family: sans-serif;
    font-size: 18px;
    flex-wrap: wrap;
    width: 550px;
    background: linear-gradient(#FA696B, #A190F4);
    padding: 40px;
    margin-left: 150px;
}

div#Border
{
  padding: 30px;
  border: 3px solid white;
}

div#Foto
{
  height: 600px;
  width: 600px;
padding: 40px;
margin-right: 150px;
}

#FotoMij
{
  transform: rotate(270deg);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit:cover;
  border: 10px solid#ffffff;
  box-shadow: 0px 0px 6px #000000;
}

div#Inhoud
{
  display:flex;
  justify-content:center;
}

div#NavBar{
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: 100px;
  font-size: 30px;
  align-items: center;
  justify-content: flex-end;
}

a#Links
{
  margin: 20px;
  background: -webkit-linear-gradient(#FA696B, #A190F4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a
{
  color: white;
}
div#ProjectenOverzicht
{
  margin-top: 200px;
  background: linear-gradient(#FA696B, #A190F4);
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div#Overzicht
{
  border: 4px white solid;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

div#Projecten
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 650px;
  width: 90%;
}

div#MasterMind
{
  display: block;
  padding: 15px;
  box-shadow: 0px 0px 6px #000000;
  border-radius: 5%;
  background: white;
  height: 575px;
  margin-right: 20px;
}



div#VerzuimNavigator
{
  display: block;
  padding: 15px;
  box-shadow: 0px 0px 6px #000000;
  border-radius: 5%;
  background: white;
  height: 575px;
  margin-left: 20px;
}

img#MasterMindFoto
{
  height: 90%;
  width: 550px;
}

img#VerzuimNavigatorFoto
{
  height: 90%;
  width: 550px;
}

div#ProjectOverzicht
{
  margin-top: 200px;
  background: linear-gradient(#FA696B, #A190F4);
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div#Project2
{
    border: 4px white solid;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 650px;
    width: 90%;
    flex-direction: column;
}

div#PersoonlijkProject
{
  display: block;
  margin-top: 20px;
  padding: 15px;
  box-shadow: 0px 0px 6px #000000;
  border-radius: 5%;
  background: white;
  height: 550px;
}

img#PersoonlijkProjectFoto
{
  height: 100%;
  width: 600px;
  object-fit:cover;
}

#ApiStyle
{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

h1#LeeruitkomstenKopje
{
  font-size: 22px;
}

h2{
  font-size: 18px;
}

h3{
  font-size: 14px;
}

div#Reflectie
{
  display: flex;
  font-family: sans-serif;
  font-size: 18px;
  flex-wrap: wrap;
  width: 90%;
  background: linear-gradient(#FA696B, #A190F4);
  padding: 40px;
  margin-left: 45px;
  margin-top: 100px;
}

div#LeeruitkomstenPagina
{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  flex-wrap: wrap;
  width: 95vw;
  background: linear-gradient(#FA696B, #A190F4);
  height: 1550px;
  margin-left: 20px;
}

div#LeeruitkomstenBorder
{
  border: 4px white solid;
  padding: 40px;
  margin: 40px;
  width: 89%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

div#MasterMindPagina
{
  font-family: sans-serif;
  width: 100%;
  background: linear-gradient(#FA696B, #A190F4);
  padding: 8px;
}

div#MasterMindProject
{
  border: 4px white solid;
  padding: 40px;
  margin: 40px;
  width: 89%;
}

@media screen and (max-width: 400px)
{


  * {
    padding: 0;
    margin: 0;
  }
  
  div#AboutMe
  {
      font-family: sans-serif;
      font-size: 12px;
      width: 90%;
      background: linear-gradient(#FA696B, #A190F4);
      padding: 10px;
      margin-left: 0px;
  }

  
  div#Border
  {
    padding: 5px;
    border: 3px solid white;
  }
  
  div#Foto
  {
    height: 300px;
    width: 300px;
    margin-right: 15px;
  }
  
#FotoMij
{
  transform: rotate(270deg);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit:cover;
  border: 10px solid#ffffff;
  box-shadow: 0px 0px 6px #000000;
}

div#Inhoud
{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

div#NavBar{
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: 50px;
  font-size: 10px;
  align-items: center;
  justify-content:flex-start;
  flex-direction: column;
}

a#Links
{
  margin: 20px;
}

div#ProjectenOverzicht
{
  margin-top: 200px;
  background: linear-gradient(#FA696B, #A190F4);
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div#Projecten
{
  border: 4px white solid;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 750px;
  width: 90%;
}

div#MasterMind
{
  display: block;
  padding: 15px;
  box-shadow: 0px 0px 6px #000000;
  border-radius: 5%;
  background: white;
  height: 575px;
  margin-right: 20px;
}



div#VerzuimNavigator
{
  display: block;
  padding: 15px;
  box-shadow: 0px 0px 6px #000000;
  border-radius: 5%;
  background: white;
  height: 575px;
  margin-left: 20px;
}

img#MasterMindFoto
{
  height: 90%;
  width: 550px;
}

img#VerzuimNavigatorFoto
{
  height: 90%;
  width: 550px;
}

div#ProjectOverzicht
{
  margin-top: 200px;
  background: linear-gradient(#FA696B, #A190F4);
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div#Project
{
    border: 4px white solid;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 750px;
    width: 90%;
}

div#PersoonlijkProject
{
  display: block;
  padding: 15px;
  box-shadow: 0px 0px 6px #000000;
  border-radius: 5%;
  background: white;
  height: 550px;
}

img#PersoonlijkProjectFoto
{
  height: 100%;
  width: 600px;
  object-fit:cover;
}
}